<div class="upper-header">
    <div class="container">
        <ul class="float-right list-inline">
            <li class=".list-inline-item">تسجيل دخول</li>
            <li class=".list-inline-item">حساب جديد</li>
            <li class=".list-inline-item">خدمة العملاء</li>
        </ul>
        <ul class="float-left list-inline">
            <li>افضل عروض اليوم</li>
            <li>ابدا البيع الان</li>
            <li class="dropdown">
               <a class="dropdown-toggle" id="dropdownMenuButton" attr.data-toggle="dropdown"> 
                   <i class="fa fa-globe"></i>
                    <span >اللغة</span>
                    
                </a>
                <ul class="dropdown-menu list-unstyled" aria-labelledby="dropdownMenuButton">
                    <li class="dropdown-item"><a href="#">عربى</a></li>
                    <li class="dropdown-item"><a href="#">انجليزى</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>