<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Logo</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle all-categories" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <span> كل التصنيفات</span>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2 search-nav" type="search" placeholder="Search" aria-label="Search">
        <button class="btn my-2 my-sm-0 submit-search" type="submit">
          <i class="fa fa-search fa-fw"></i>
        </button>
      </form>
    </div>


  </div>
</nav>